@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
        --green: #62e083;
}

body {
        background: mistyrose;
        font-family: Ubuntu;
        font-size: larger;
        transition: 700ms;
}

h1 {
        text-align: center;
        color: orangered;
        font-size: xx-large;
        text-shadow: 1px 1px 2px pink;
}

#form {
        text-align: center;
}
#chosenTime {
        color: orangered;
        text-align: center;
}
#prayedTime {
        color: orangered;
        text-align: center;
}
#button {
        margin: 20px;
        border-radius: 5px;
        padding: 10px;
        background: linear-gradient(to right, yellow, gold);
        box-shadow: 2px 2px orange;
        transition: all 200ms ease-in-out;
}
#button:hover {
        transform: scale(1.2);
        background: linear-gradient(to right, orange, orangered);
        box-shadow: 5px 5px orange;
}
#button:active {
        transform: scale(1.25);
        background: linear-gradient(to right, red, purple);
        box-shadow: 10px 10px pink;
}
#itemQuantity {
        padding: 10px;
        border-radius: 5px;
}
