body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: midnightblue;
  & a {
    color: aliceblue;
    &:visited {
      color: aquamarine;
    }
  }
}
.menu {
  font-size: larger;
}
h1 {
  font-size: xx-large;
}
